server:
  ssl:
    enabled: true
    #    key-store: classpath:thekeystore
    #    key-store-password: li936339745
    #    key-password: li936339745
    key-store: classpath:7619605_sso.leoli.top.pfx
    key-store-password: yy5ChUqe
    key-password: yy5ChUqe
  port: 443

cas:
  authn:
    jdbc:
      query:
        - name: QueryDatabaseAuthenticationHandler
          driver-class: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://localhost:3306/lsj_user?characterEncoding=UTF-8&application-name=cas
          user: root
          password: root
          sql: > 
            select login_id, pwd, user_name, nick_name, phone , birthday , sexy , avatar_url , email , created_time , 
            updated_time ,disabled , expired from t_user_info where login_id=?
          field-password: pwd
          field-disabled: disabled
          field-expired: expired
          password-encoder:
            #            type: DEFAULT
            #            encoding-algorithm: MD5
            type: SCRYPT
          order: 10000
          properties:
#            isAllAttribute为true时转换所有用户属性字段
            "isAllAttribute": true
            #            自定义handler名字，由于使用name的值的话会和官方提供的QueryDatabaseAuthenticationHandler相同导致自定义的失败，所以新增自定义handler名
            "customName": "CustomQueryDBAuthenticationHandler"
            "customOrder": 100
#          配合properties->isAllAttribute,当isAllAttribute为false时，仅仅转换以下principal-attribute-list配置的属性
#          principal-attribute-list: user_name:user_name,sexy:sexy
  ##设置安全为true
  tgc:
    secure: true
  ##开启识别json文件，默认false
  serviceRegistry:
    initFromJson: true
    json:
      location: classpath:services

  server:
    name: sso.leoli.top:443
  theme:
    default-theme-name: lsjtest
  view:
    template-prefixes: classpath:templates
  #link ->ServiceTicketProperties
  ticket:
    st:
      timeToKillInSeconds: 300
    #      自定义tgt 参考方法DefaultTicketGrantingTicketFactory#getTicketGrantingTicketExpirationPolicy
    #    RedisTicketRegistryProperties
    registry:
      redis:
        enabled: true
        host: 120.24.108.229
        port: 6379
        password: lsjkobe_24
        database: 0
        use-ssl: false
        read-from: MASTER




