<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{cas.login.pagetitle}">CAS Login View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>

</head>

<body class="login mdc-typography">
<div layout:fragment="content" class="d-flex justify-content-center">
    <div class="d-flex justify-content-center flex-md-row flex-column mdc-card mdc-card-content card flex-grow-1"
         th:with="loginFormEnabled=${#strings.defaultString(#themes.code('cas.login-form.enabled'), 'true') == 'true'},
                  loginFormViewable=${@casThymeleafLoginFormDirector.isLoginFormViewable(#vars)}">
<!--        <section id="loginForm"-->
<!--                 th:if="${loginFormViewable and loginFormEnabled}"-->
<!--                 class="login-section login-form card-body">-->
<!--            <div th:replace="logintest/loginform :: loginform">-->
<!--                <a href="logintest/loginform.html">Login Form goes here</a>-->
<!--            </div>-->
<!--        </section>-->
        <section id="acceptto" class="login-section login-qr d-xs-none d-md-block">
            <div th:replace="logintest/accepttoQRCode :: accepttoQRCode">
                <a href="logintest/accepttoQRCode.html">accepttoQRCode</a>
            </div>
        </section>
    </div>
</div>
</body>

</html>
